styles.css

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(pexels-ben-mack-6775241.jpg);
    /* font-family: Arial, sans-serif; */
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 70px;
    background-image: url();   
    background-color: #fff5f511;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #00000049;
    border-radius: 5px;
}


label[for="checkbox"] {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}


input[type="radio"] {
    margin-right: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #0077B5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #00558C;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}


select option[selected] {
    background-color: #0077B5;
    color: #fff;
}


select option {
    background-color: #fff;
    color: #333;
}


select option[value="none"] {
    font-style: italic;
    color: #777;
}
